#!/usr/bin/env bash
#
# Configuration variables for the bootstrap script
#

# Applications wich will be installed via 'Homebew Cask'
# @see https://github.com/phinze/homebrew-cask/tree/master/Casks
APPSTACK="dropbox firefox firefox-aurora google-chrome google-chrome-canary insync imagealpha imageoptim iterm2 keepass-x libre-office little-snitch opera skype spotify sublime-text the-unarchiver thunderbird virtualbox vlc webstorm"

# Ruby Gems wich will be installed
RUBYGEMS="sass compass"

# Brew packages wich will be installed
BREWPACKAGES="coreutils ack bash-completion"